.Login{
    display: flex;
}
.Login img{
    width: 750px;
    height: 720px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Login a{
    color: black;
    font-size: 30px;
    border: 10px;
}
.lenh a{
    margin-left: 77px;
    margin-top: 20px;
}
